# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Environment variables
.env

# Python egg files
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Cache files
.cache/
*.pickle
*.pkl

# PyTest cache
.pytest_cache/

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~
*.bak

# MacOS
.DS_Store

# Windows
Thumbs.db
